.navbar {
    background-color: #343a40;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-brand, .nav-link {
    color: white !important; 
}

.nav-link:hover {
    color: rgb(78, 78, 215)!important;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}

.nav-link + .nav-link {
    margin-left: 20px; 
}

.navbar-brand h1{
    font-size: 30px ;
    margin: 0;
}

.navbar-brand, .nav-link p{
    font-size: 20px ;
    margin: 0;
}

.navbar-toggler-icon svg {
    fill: white;
}